/* 5733ad */
/* 5733ad */
/* 5733ad */

p {
  margin: 0px;
}

.footer-link {
  color: #5733ad;
  transition: 0.5s;
}

.footer-link:hover {
  color: #ff0000;
}

.footer {
  background: #d6d6d6;
  padding: 8px;
}

.page {
  padding: 4% 15%;
  background: #f0f0f0;
}

/* text items */

.title1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #5733ad;
  font-family: "Lexend", sans-serif;
}
.title2 {
  font-size: 34px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-top: -13px;
  color: #5733ad;
}
.title3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  /* margin-top: -13px; */
}
.title4 {
  font-size: 50px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  color: #5733ad;
  font-family: "Lexend", sans-serif;
  margin-top: -20px;
}
.title5 {
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-top: -13px;
  color: #5733ad;
  opacity: 0.7;
  margin-top: -10px;
}
.title6 {
  font-size: 25px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-top: -13px;
  color: #5733ad;
  opacity: 0.7;
  margin-top: -10px;
}
.title7 {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-top: -13px;
  color: #5733ad;
  opacity: 0.7;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* text items */

/* paragraphs */
.leftPara {
  font-size: 18px;
  line-height: 140%;
}
.tcenter {
  text-align: center;
  margin: 0px auto;
}
.justifyPara {
  text-align: justify;
  font-size: 18px;
  padding-bottom: 2%;
  line-height: 160%;
  /* font-family: 'Nunito', sans-serif; */
}
/* paragraphs */

/* spaces */
.innerSpace {
  height: 40px;
}
/* spaces */

/* buttons */
.largeButton {
  font-size: 18px;
  padding: 2.5% 4%;
  color: #ffffff;
  border-radius: 12px;
  font-weight: 400;
  transition: 0.7s;
  text-align: center;
  width: 250px;
  background: #5733ad;
  border: 2px solid #5733ad;
}
.largeButton:hover {
  background: #ffffff;
  color: #5733ad;
}
.otpButton {
  font-size: 18px;
  padding: 2.5% 14%;
  background: #5733ad;
  border: 2px solid #5733ad;
  color: #ffffff;
  border-radius: 12px;
  font-weight: 400;
  transition: 0.7s;
  text-align: center;
  margin-left: 50px;
  /* width: 250px; */
}
.smButton {
  font-size: 18px;
  padding: 2.5% 4%;
  color: #ffffff;
  border-radius: 12px;
  font-weight: 400;
  transition: 0.7s;
  text-align: center;
  width: 250px;
  background: #5733ad;
  border: 2px solid #5733ad;
}
.smButton2 {
  font-size: 15px;
  padding: 5px 0px;
  color: #ffffff;
  border-radius: 12px;
  font-weight: 400;
  transition: 0.7s;
  text-align: center;
  background: #5733ad;
  border: 2px solid #5733ad;
  margin-top: 13px;
  width: 250px;
}
/* buttons */

/* shadow box */
.sideShadowBox {
  width: 45%;
  box-shadow: 0px 0px 10px #000000;
  padding: 1.5% 3%;
  border-radius: 20px;
  background: #ffffff;
}
.sideShadowBoxfull {
  width: 76%;
  box-shadow: 0px 0px 10px #000000;
  padding: 3% 6%;
  border-radius: 20px;
  background: #ffffff;
  margin: 2% 12%;
}
/* shadow box */

/* login */
.contactNoInputBox {
  padding: 2% 7%;
  border-radius: 20px;
  border-color: #00000085;
  margin-top: 0px;
}
.otpinput {
  padding: 2% 4%;
  border-radius: 20px;
  border-color: #5833ad70;
  margin-top: 0px;
}
.fieldName {
  margin: 5px 0px;
  margin-top: 8px;
  font-size: 18px;
}
/* login */

/* user page */
.fieldText {
  margin-bottom: 0px;
  font-size: 19px;
  font-weight: 500;
  padding: 7% 0;
  text-align: left;
}
/* user page */

/* system login */

.singleRegisterShaddowBox {
  border: 2px solid #5733ad;
  width: 27%;
  padding: 4%;
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #5733ad49;
  transition: 0.2s;
  color: #5733ad;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 12px;
  margin-bottom: -50px;
}
.singleRegisterShaddowBox:hover {
  box-shadow: 0px 0px 10px #5733ad;
}
/* system login */

/* others */
.space {
  box-shadow: 0px 0px 10px #5733ad;
  height: 50px;
  width: 40px;
  border-radius: 12px;
}
/* others */

.white-box {
  background: #ffffff;
  margin: 2% 10%;
  padding: 2% 5%;
}
.shadowBoxCenter {
  width: 60%;
  margin: 20px 20%;
  border: 4px solid #5733ad;
  border-radius: 20px;
  padding: 50px 20px;
}
.inputBox {
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid #5733ad;
  box-shadow: 0px 0px 5px #5733ad;
}
.btn2 {
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid #5733ad;
  background: #5733ad;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.inputBox:focus {
  box-shadow: 0px 0px 15px #5733ad;
  border: 3px solid #5733ad;
  background: #5833ad2f;
}
